@import url("./icon-path.css");

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    min-height: 100vh;
    background-color: rgb(1, 22, 22);
    color: white;
}

header,
footer {
    height: 50px;
    padding: 0 30px !important;
}

footer {
    opacity: 0.3;
}

main {
    height: calc(100vh - 100px);
}

.site-title {
    font-size: 30px;
    font-weight: bold;
    color: darkcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 1px 0px lightcyan;
}

.controls {
    height: 50px;
    gap: 20px;
    padding: 10px 0px;
}

.btn {
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 5px 25px;
    border: 2px solid rgba(47, 79, 79, 0.222);
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    box-shadow: 0px 0px 5px lightcyan;
    border: 2px solid rgba(47, 79, 79, 0.603);
}

.btn:focus-within {
    outline: 2px solid lightcyan;
    box-shadow: 0px 0px 5px lightcyan;
    /* font-size: 18px; */
}


.menu-btn {
    position: relative;
    height: 100%;
    width: 40px;
    background-color: transparent;
    border: none;
    filter: drop-shadow(2px 2px 0px lightcyan);
}

.menu-btn span {
    height: 4px;
    width: 30px;
    background-color: darkcyan;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.menu-btn.active:hover>span:first-child {
    width: 30px;
}

.menu-btn.active span {
    width: 30px;
    rotate: 135deg;
    position: absolute;
}

.menu-btn.active span:last-child {
    rotate: 45deg;
}

.typing-placeholder {
    padding: 40px max(20px, 10%);
    margin: 40px 0;
    text-align: justify;
    font-size: 30px;
    cursor: text;
    overflow: scroll;
    scrollbar-width: none;
    color: #ffffff50;
}

.typing-placeholder>span {
    display: inline-flex;
    transition: all 0.3s ease;
    padding: 0;
}


.typing-placeholder #input-pointer {
    background-color: white;
    width: 3px;
    animation: cursor-animation 2s infinite forwards;
}

@keyframes cursor-animation {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

h2 {
    margin-bottom: 0;
}