@import url("./icon-path.css");

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: rgb(1, 22, 22);
    color: white;
}

header,
footer {
    height: 50px;
    padding: 0 30px !important;
}

footer {
    opacity: 0.3;
}

main {
    height: calc(100vh - 100px);
}

.site-title {
    font-size: 30px;
    font-weight: bold;
    color: darkcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 1px 0px lightcyan;
}

.controls {
    height: 50px;
    gap: 20px;
    padding: 10px 0px;
}

.btn {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid rgba(47, 79, 79, 0.222);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.my-optn-btn {
    padding: 5px 25px;
    font-size: 15px;
}

.btn:hover {
    box-shadow: 0px 0px 5px lightcyan;
    border: 2px solid rgba(47, 79, 79, 0.603);
}

.btn:focus-within {
    outline: 2px solid lightcyan;
    box-shadow: 0px 0px 5px lightcyan;
    /* font-size: 18px; */
}

.typing-placeholder {
    padding: 40px max(20px, 10%);
    margin: 40px max(20px, 10%);
    height: 150px;
    text-align: justify;
    font-size: 30px;
    cursor: text;
    overflow: hidden;
    color: #ffffff50;
}

.typing-placeholder>span {
    display: inline-flex;
    transition: all 0.3s ease;
    padding: 0;
    animation: anim-opacity 0.3s ease;
}


.typing-placeholder #input-pointer {
    background-color: white;
    width: 3px;
    animation: cursor-animation 2s infinite forwards;
}

@keyframes cursor-animation {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes anim-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h2 {
    margin-bottom: 0;
}

.btn-settings {
    filter: grayscale(100);
    opacity: 0.5;
}

.btn-settings:hover {
    filter: none;
    opacity: 1;
}

.btn-settings:focus-within {
    box-shadow: 0px 0px 5px lightcyan;
    outline: 2px solid lightcyan;
    border: 1px solid #ffffff80;
    border-radius: 5px;
    padding: 5px;
    background-size: 80%;
    background-color: red;
}

.popup-box {
    box-sizing: border-box;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 10;
    padding: 10px;
    display: none;
    animation: anim-opacity 0.3s ease;
}

.custom-input-box {
    box-sizing: border-box;
    height: auto;
    width: min(600px, 100%);
    background-color: #00000030;
    padding: 20px;
    border: 2px solid #d3d3d330;
    border-radius: 10px;
}

input.custom-input {
    height: auto;
}

.custom-input {
    height: 200px;
    margin: 10px;
    resize: none;
    background-color: #33333330;
    border: 2px solid #d3d3d330;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #d3d3d3;
}

.custom-input:focus-within {
    outline: 2px groove rgb(173, 216, 230);
}

.custom-hr {
    height: 3px;
    margin: 10px;
    background-color: #d3d3d330;
}

.key-popup {
    height: auto;
    width: auto;
    padding: 10px;
    position: fixed;
    bottom: 100px;
    left: 50%;
    background-color: rgba(22, 141, 141, 0.552);
    border-radius: 5px;
}

@keyframes opacity-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Container for the spinner */
.spinner {
    width: 40px;
    height: 40px;
    border: 10px solid transparent;
    border-top: 10px solid lightblue;
    border-bottom: 10px solid lightblue;
    filter: drop-shadow(2px 2px 0px lightgreen);
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}


.setting-menu {
    box-sizing: border-box;
    width: min(300px, 100%);
    height: 60vh;
    overflow: scroll;
    scrollbar-width: none;
    background-color: #ffffff10;
    border-radius: 10px;
}

.menu {
    width: calc(100%);
}

.dd-parent {
    position: relative;
    background-color: #ffffff10;
    cursor: pointer;
}

.drop-down {
    display: none;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    background-color: rgb(5, 48, 48);
    gap: 5;
    border-radius: 5px;
}

.drop-down span {
    padding: 10px;
}

.dd-parent.clicked>.drop-down {
    display: flex;
}

.drop-down span:hover {
    background-color: #ffffff10;
    border-radius: 5px;
    cursor: pointer;
}